<!DOCTYPE html>{% load static i18n compress %}
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}RaidCal{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'maincal/libs/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'maincal/libs/bootstrap/dist/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'maincal/libs/bootstrap-calendar/css/calendar.css' %}">
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'maincal/style/style.scss' %}">
    {% endcompress %}

    <script type="text/javascript" src="{% static 'maincal/libs/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'maincal/libs/jquery-migrate/jquery-migrate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'maincal/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'maincal/libs/moment/min/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'maincal/libs/underscore/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'maincal/libs/bootstrap-calendar/js/calendar.min.js' %}"></script>
    {% with 'maincal/libs/bootstrap-calendar/js/language/'|add:language_code|add:'.js' as cal_lang_js %}
        <script type="text/javascript" src="{% static cal_lang_js %}"></script>
    {% endwith %}

    {% compress js %}
    <script type="text/javascript" src="{% static 'maincal/js/init.js' %}"></script>
    {% endcompress %}

    {% block head %}{% endblock %}
</head>
<body data-language-code="{{ language_code }}"
      data-event-src="{% url 'api_event' %}"
      data-tpl-path="{% static 'maincal/libs/bootstrap-calendar/tmpls/' %}">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://github.com/katajakasa/Raidcal">RaidCal</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li {% if page == 'index' %}class="active"{% endif %}><a href="{% url 'index' %}">{% trans "Calendar" %}</a></li>
                    <li {% if page == 'profile' %}class="active"{% endif %}><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
                    {% if user.is_staff %}
                        <li><a href="/admin">{% trans "Management" %}</a></li>
                    {% endif %}
                    <li {% if page == 'logged_out' %}class="active"{% endif %}><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
                {% else %}
                    <li {% if page == 'register' %}class="active"{% endif %}><a href="{% url 'register' %}">{% trans "Register" %}</a></li>
                    <li {% if page == 'login' %}class="active"{% endif %}><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
</body>
</html>