{% extends "maincal/base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}
{% trans "Login" %} - {{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('form.uniForm').uniform();
{% endblock %}

{% block content %}
{{ block.super }}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <h1>{% trans "Login" %}</h1>
            {% crispy login_form login_form.helper %}
        </div>
    </div>
</div>
{% endblock %}
